@import "../variables/variables.scss";

.liveItem {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
}

.liveItemThumbnail {
  position: relative;
  width: 100%;
  height: 70%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.liveItemButtons {
  position: absolute;
  bottom: 0;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .viewers {
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
  }

  .btn {
    border: none;
    background-color: $secondary-color;
    color: #fff;
    font-weight: 700;
    padding: 2px 5px;
  }
}

.liveItemInfo {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    .title {
      color: #000;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 5px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }

    .author {
      color: $secondary-text-color;
      font-weight: 600;
      font-size: 13px;
    }
  }
}
