@import "../variables/variables.scss";

.videoHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.mainHeader {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    .userName {
      span {
        font-size: 19px;
        font-weight: bold;
      }
    }

    .description {
      font-size: 15px;
      line-height: 25px;
      vertical-align: middle;
      letter-spacing: 0.4px;
      font-weight: 500;
    }

    .music {
      span {
        margin-left: 5px;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
}

.btn {
  padding: 5px 20px;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: $secondary-color;
  background-color: $background-color;
}
