@import "../variables/variables.scss";

.videoWrapper {
  width: 100%;
  height: 100%;
  margin-left: 70px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.video {
  position: relative;

  &:hover .btn {
    opacity: 1;
    pointer-events: all;
  }
  video {
    width: 290px;
    border-radius: 5px;
    aspect-ratio: 9/16;
  }
  .horizontal {
    width: 520px;
    border-radius: 5px;
    aspect-ratio: 16/9;
  }

  .btn {
    position: absolute;
    bottom: 40px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;

    button {
      background-color: transparent;
      border: none;
      font-size: 20px;
      color: #fff;
    }
  }

  .btnToggleContainer {
    left: 25px;
  }

  .btnVolumeContainer {
    right: 25px;

    .btnVolume {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;

      &:hover input {
        opacity: 1;
        pointer-events: all;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 10px;
        right: 0;
        width: 30px;
        height: 25px;
        background-color: transparent;
      }
    }

    input {
      transform-origin: 90% 50%;
      transform: rotate(-90deg) translateX(100%) translateY(-50%);
      -webkit-appearance: none;
      width: 70px;
      height: 2px;
      border-radius: 5px;
      background: #ffffff;
      outline: none;
      opacity: 0;
      pointer-events: none;

      &::after {
        content: "";
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translateY(50%) translateX(50%);
        width: 120%;
        height: 22px;
        border-radius: 20px;
        background-color: #ffffff62;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;
      }

      &::-moz-range-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;
      }
    }
  }
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
}

.hearts,
.comments,
.shares {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0px;

  .btn {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border: none;
    border-radius: 100rem;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $button-color;
  }

  span {
    font-size: 12px;
    font-weight: 700;
  }
}

.hide {
  display: none !important;
}
